{% extends "base.twig" %}
{% set head_title = currentAction.name %}
{% set menu_active = 'admin' %}

{% block body %}
    {% include 'navbar.twig' %}
<main class="container pt-3">
    <h1>{{head_title}}</h1>
    <ul class="list-unstyled plist">
        {% if message is not empty %}
            <div class="bg-error p-050 pl-1" style="margin-left: -1rem; margin-right: -1rem;">{{ message|raw }}</div>
        {% endif %}
        {% for item in actions %}
        <li>
            <div class = "plist-item" onclick="moveto('/dsb/actions/{{ item.id }}')">
                <div class="plist-item-title">
                   Акция {{ item.id }}
                </div>
                <div class="plist-item-info">
                    <div class="plist-item-desc">{{ item.text }}</div>
                </div>
            </div>
            <div class="plist-delete" onclick="promtAction('/dsb/actions/{{ currentAction.id }}?delete={{ item.id }}')" style="min-width: 40px; padding-left: 1.2rem">
                <img src="/assets/img/delete.svg">
            </div>
        </li>
        {% endfor %}
    </ul>
    <form action="" method="post" class="mb-2">
    {% if (currentAction.id > 0) %}
        <h5 class="mt-2">Редактировать:</h5>
    {% else %}
        <h5 class="mt-2">Добавить:</h5>
    {% endif %}
        <input type="hidden" name="id" value="{{ currentAction.id }}">
        <div class="form-el">
            <label for="action-text">Текст</label>
            <textarea name="text">{{ currentAction.text }}</textarea>
        </div>
        <div class="form-el">
            <label for="action-url">Ссылка</label>
            <input id="action-url" name="url" type="text" placeholder="/" value="{{ currentAction.url }}">
            <div id="errorMsg" class="text-error"></div>
        </div>
    <button type="submit" id="update_cat" class="btn">
        сохранить
    </button>
    </form>
</main>
    {% include 'footer.twig' %}
{% endblock %}
