{% extends "base.twig" %}
{% set head_title = currentCat.name %}
{% set menu_active = 'admin' %}

{% block body %}
    {% include 'navbar.twig' %}
    <main class="container pt-3">
        <h1>{{head_title}}</h1>
        <ul class="list-unstyled plist">
            {% if message is not empty %}
                <div class="bg-error p-050 pl-1" style="margin-left: -1rem; margin-right: -1rem;">{{ message|raw }}</div>
            {% endif %}
            {% for item in cat %}
                <li>
                    <div class = "plist-item" onclick="moveto('/dsb/category/{{ item.id }}')">
                        <div class="plist-item-title">
                            {{ item.name }}
                        </div>
                    </div>
                    {% if (currentCat.id > 0) %}
                        {% if (item.show == 1) %}
                            <div class="plist-delete" onclick="promtShow('/dsb/category/{{ currentCat.id }}?show={{ item.id }}')" style="min-width: 40px; padding-left: 1.2rem">
                               {{ currentCat.show }} <img src="/assets/img/show.svg">
                            </div>
                            {% else %}
                                <div class="plist-delete" onclick="promtHide('/dsb/category/{{ currentCat.id }}?hide={{ item.id }}')" style="min-width: 40px; padding-left: 1.2rem">
                                    <img src="/assets/img/hide.svg">
                                </div>
                        {% endif%}
                    <div class="plist-delete" onclick="promt('/dsb/category/{{ currentCat.id }}?delete={{ item.id }}')" style="min-width: 40px; padding-left: 1.2rem">
                        <img src="/assets/img/delete.svg">
                    </div>
                    {% endif%}
                </li>
            {% endfor %}
        </ul>
        <h5 class="mt-2">Редактировать:</h5>
        <form action="" method="post" class="mb-2">
            {% if (currentCat.id > 0) %}
                <input type="hidden" name="id" value="{{ currentCat.id }}">
            <div class="form-el">
                <label for="cat-name">Изменить название</label>
                <input id="cat-name" name="name" type="text" placeholder="Новое название" value="">
                <div id="errorMsg" class="text-error"></div>
            </div>

            <div class="form-el">
                <label for="product-name">Добавить товары (коды через «,»)</label>
                <input id="product-add" name="products" type="text" placeholder="0000,0000" value="">
                <div id="errorMsg" class="text-error"></div>
            </div>
            {% endif %}
            <div class="form-el">
                <label for="newcat-name">Добавить подкатегорию</label>
                <input id="newcat-name" name="subcategory" type="text" placeholder="Название подкатегории" value="">
                <div id="errorMsg" class="text-error"></div>
            </div>
            <button type="submit" id="update_cat" class="btn">
                сохранить
            </button>
        </form>
    </main>
    {% include 'footer.twig' %}
{% endblock %}