{% extends "base.twig" %}
{% set head_title = 'Управление' %}
{% set menu_active = 'admin' %}

{% block body %}
{% include 'navbar.twig' %}
<main class="container pt-3">
    <h1>{{head_title}}</h1>
    <ul class="list-unstyled catalog-list">
        <li onclick="window.location = '/dsb/orders'">Последние заказы</li>
        <li onclick="window.location = '/dsb/users'">Контрагенты</li>
        {% if admin == 1  %}
        <li onclick="window.location = '/dsb/category/0'">Каталог</li>
            <li onclick="window.location = '/dsb/actions/0'">Акции</li>
        {% endif %}
    </ul>
</main>
{% endblock %}
