{% extends "base.twig" %}

{% set head_title = 'Последние заказы' %}
{% set menu_active = 'admin' %}

{% block body %}
    {% include 'navbar.twig' %}
    <main class="container pt-3">
        <h1>{{head_title}}</h1>
        <form method="post">
            <div class="row py-1">
                <div class="col col-sm-4 col-lg-3">
                    <div class="form-el">
                        <input id="order-date-s" name="order_start" value="{{ start }}" readonly/>
                        <div id="errorMsg" class="text-error"></div>
                    </div>
                </div>
                <div class="col col-sm-4 col-lg-3">
                    <div class="form-el">
                        <input id="order-date-e" name="order_end" value="{{ end }}" readonly/>
                        <div id="errorMsg" class="text-error"></div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 col-lg-3"><button class="btn btn-outline btn-block">Показать</button></div>
            </div>
        </form>
        {% if orders is defined and orders is not empty %}
            <ul class="list-unstyled plist">
                {% for item in orders %}
                    <li >
                        <div class = "plist-item" onclick="moveto('/dsb/orders/{{item.uid}}/{{ item.id }}')">
                            <div class="plist-item-title">
                                № {{ item.name }}
                            </div>
                            <div class="plist-item-price">
                                {{ item.total }}
                            </div>
                            <div class="plist-item-info">
                                <div class="plist-item-desc">{{ item.username }} - от {{ item.date|date("d.m.Y") }} </div><div class="plist-item-count"></div>
                            </div>
                        </div>
                        <div class="plist-delete" onclick="moveto('/dsb/user/{{ item.uid }}')" style="min-width: 40px; padding-left: 1.2rem">
                            <img src="/assets/img/user.svg">
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </main>
    {% include 'footer.twig' %}
{% endblock %}
