{% extends "base.twig" %}
{% set head_title = 'С сайта в Мой слклад' %}
{% set menu_active = 'admin' %}

{% block body %}
    {% include 'navbar.twig' %}
    <main class="container pt-3">
        <h1>{{head_title}}</h1>
        <ul>
            {% for item in products %}
                <li>{{ item.description }}</li>
            {% endfor %}
        </ul>
    </main>
    {% include 'footer.twig' %}
{% endblock %}