{% extends "base.twig" %}
{% set head_title = 'Контрагенты' %}
{% set menu_active = 'Admin' %}

{% block body %}
    {% include 'navbar.twig' %}
    <main class="container pt-3">
        <div class="row justify-content-between">
            <div class="col-12 col-md-6 col-lg-8 pb-1"><h1>{{head_title}}</h1></div>
            <div class="col"><button class="btn btn-outline btn-sm " onclick="window.location.href = '/dsb/user/new';">Добавить</button></div>
            {% if admin == 1  %}
                <div class="col"><button class="btn btn-outline btn-sm " onclick="window.location.href = '/dsb/user/xls';">Отчет</button></div>
            {% endif %}
        </div>
        <div class="form-el mt-2 mb-1">
            <input id="search" placeholder="поиск"/>
            <div id="search_delete" class="is-hidden">
                <img src="/assets/img/delete.svg" />
            </div>
        </div>
        <ul class="list-unstyled catalog-list plist">
            {% for item in cat %}
                <li id="{{ item.id }}">
                    <div class="plist-item">
                        <div id="name-{{ item.id }}" class="plist-item-title" onclick="window.location = '/dsb/user/{{ item.id }}'">{{ item.name }}</div>
                        <div class="plist-item-info">
                            <div id="phone-{{ item.id }}" class="plist-item-desc">{{ item.phone }}</div>
                        </div>
                    </div>
                        <div class="plist-delete" onclick="moveto('/dsb/orders/{{ item.id }}')" >
                            <img src="/assets/img/order.svg">
                        </div>
                    </li>
            {% endfor %}
        </ul>
    </main>
    {% include 'footer.twig' %}
{% endblock %}
