{% extends "base.twig" %}
{% set menu_active = 'Admin' %}

{% block body %}
    {% include 'navbar.twig' %}
    <main class="container pt-3">
        <div id="order_status">
            Товар добавлен в корзину
        </div>
        {% if user.id == 'new' %}
            <h1>Новый контрагент</h1>
        {% else %}
            <div class="row justify-content-between">
                <div class="col-12 col-md-9 col-lg-10"><h1>{{ user.name }}</h1></div>
                <div class="col mb-2 md-mb-0"><button class="btn btn-outline btn-sm " onclick="window.location.href = '/dsb/orders/{{ user.id }}';">Заказы</button></div>
            </div>
            <div>
                <div class="mb-025">Последний вход: {{ user.last is empty ? "" : user.last|date("d.m.Y") }}</div>
                <div class="mb-025">Зарегистрирован: {{ user.reg is empty ? "" : user.reg|date("d.m.Y") }}</div>
                <div class="mb-025">Всего заказов: {{ orders.count is empty ? "0" : orders.count }}</div>
                <div class="mb-025">Последний: {{ orders.last is empty ? "Нет заказов" : orders.last|date("d.m.Y") }}</div>
                <div class="mb-2">Тип цены: {{ user.type is empty ? "BTS" : user.type }}</div>
            </div>
        {% endif %}



            <input id="user-id" type="hidden" value="{{ user.id }}" />
            <div class="form-el">
                <label for="user-name">Название</label>
                <input id="user-name" type="text" placeholder="ООО 'BTS'" value="{{ user.name }}" />
                <div id="errorMsg" class="text-error"></div>
            </div>
            <div class="form-el">
                <label for="user-phone">Номер телефона</label>
                <input id="user-phone" type="text" placeholder="+79000000000" value="{{ user.phone }}"/>
                <div id="errorMsg" class="text-error"></div>
            </div>
            <div class="form-el">
                <label for="user-mid">id Мой склад</label>
                <input id="user-mid" type="text"  value="{{ user.mid }}"/>
                <div id="errorMsg" class="text-error"></div>
            </div>
        <div class="form-el">
            <label for="user-code">Статус пароля</label>
            <fieldset id="user-code" style="border: 0">
            <input type="radio" id="Choice1"
                   name="code" value="0" {%  if user.active != 1 and user.active != 2 %} checked{% endif %}>
            <label for="Choice1">Hет</label>

            <input type="radio" id="Choice2"
                   name="code" value="1" {%  if user.active == 1  %} checked{% endif %}>
            <label for="Choice2">Создан</label>

            <input type="radio" id="Choice3"
                   name="code" value="2" {%  if user.active == 2  %} checked{% endif %}>
            <label for="contactChoice3">Активирован</label>
            </fieldset>
            <div id="errorMsg" class="text-error"></div>
        </div>
            {% if user.id == 'new' %}
            <button id="add_user" class="btn">
                Добавить
            </button>
            {% else %}
            {% if admin == 1  %}
                <div class="row form-el">
                    <div class="col-6 pr-050">
                        <button id="delete_user" class="btn btn-outline">
                            удалить
                        </button>
                    </div>
                    <div class="col-6 pl-050">
                        <button id="update_user" class="btn">
                            сохранить
                        </button>
                    </div>
                </div>
                {% elseif admin == 2 %}
                    <button id="update_user" class="btn">
                        сохранить
                    </button>
                {% endif %}
            {% endif %}
    </main>
    {% include 'footer.twig' %}
{% endblock %}
