{% extends "base.twig" %}
{% set head_title = 'Заказ отправлен' %}
{% if order_done == false %}
    {% set head_title = 'Новый заказ' %}
{% endif %}
{% set menu_active = 'order' %}
{% set total = 0 %}
{% block body %}
    {% include 'navbar.twig' %}
    <main class="container pt-3 pb-2">
        <h1>{{head_title}}</h1>
        {% if products is defined and products is not empty %}

            {% if need_attantion is not empty %}
                <ul class="list-unstyled plist mb-2">
                <div class="bg-error p-050 pl-1" style="margin-left: -1rem; margin-right: -1rem;">Внимание: Изменились остатки позиций:</div>
            {% endif %}
                {% for item in products %}
                    {% set total = total + item.total %}
                    {% if item.edit is defined  %}
                    <li id="{{ item.id }}" {% if item.edit == 0  %}style="opacity: 0.75;" {% else %} class="change"  {% endif %}>
                        <div class = "plist-item" >
                            <div class="plist-item-title">
                                {{ item.name }}
                            </div>
                            <div class="plist-item-price">
                                <span class="text-base">{{ item.count }} &#8594;</span> {{ item.edit }}
                            </div>
                            <div class="plist-item-info">
                                <div class="plist-item-desc">{{ item.path }} </div>
                                <div class="plist-item-total">{% if item.edit == 0  %}<span class="text-error">Удален</span>{% else %}{{ item.total }} Руб.{% endif %}</div>
                            </div>
                        </div>
                    {% if item.edit > 0  %}
                        <div class="row justify-content-between order_buttons">
                            <div class="col-sm  col-lg-4 "><button class="btn btn-sm apply" onclick="orderUpdate({{ item.id }},{{ item.edit }});">Применить изменения</button></div>
                            <div class="col-sm col-lg-4 "><button class="btn btn-sm clear btn-outline" onclick="orderRemove({{ item.id }});">Удалить из заказа</button></div>
                        </div>
                    {% endif %}
                    </li>
                    {% endif %}
                {% endfor %}


                {% if need_attantion is not empty %}
                    <li>
                        <div class = "plist-item" >
                            <div class="plist-item-title">
                                НОВАЯ СУММА:
                            </div>
                            <div class="plist-item-price">
                                {{ total }} Руб.
                            </div>
                        </div>
                    </li>
                </ul>

                    {% if total == 0 %}
                        <button class="btn" onclick="window.location.href='/';" >Перейти в каталог</button>
                    {% else %}
                        <button id="next" class="btn" disabled onclick="document.location.reload(true)">Продолжить</button>
                    {% endif %}

                {% else %}
                    {% if order_done == false %}
                    <form method="post" name="main">
                        {% include 'Order/form.twig' %}
                    </form>
                    {% else %}
                        Номер вашего заказа {{ order_name }}. {% if order_call == 'nocall' %}Ожидайте доставку{% else %}Мы свяжемся с вами в рабчие часы с 10 до 16{% endif %}
                    {% endif %}

                {% endif %}


        {% endif %}
    </main>
{% endblock %}
