<div class="form-el">
    <label for="order-date">Дата доставки</label>
    <input id="order-date" name="order_date" readonly/>
    <div id="errorMsg" class="text-error"></div>
</div>

<div class="form-el">
    <label>Время доставки</label>
    <div class="select-box">
        <div class="select-box__current" tabindex="1">
            <div class="select-box__value">
                <input class="select-box__input  firstline" type="radio" id="0" value="C 15:00 до 21:00" name="order_time"  checked/>
                <p class="select-box__input-text">C 15:00 до 21:00</p>
            </div>
            <div class="select-box__value  firstline">
                <input class="select-box__input" type="radio" id="1" value="C 16:00 до 22:00" name="order_time" />
                <p class="select-box__input-text">C 16:00 до 22:00</p>
            </div>
            <div class="select-box__value  firstline">
                <input class="select-box__input" type="radio" id="2" value="C 17:00 до 23:00" name="order_time"/>
                <p class="select-box__input-text">C 17:00 до 23:00</p>
            </div>
            <div class="select-box__value">
                <input class="select-box__input" type="radio" id="3" value="C 18:00 до 24:00" name="order_time"/>
                <p class="select-box__input-text">C 18:00 до 24:00</p>
            </div>
            <img class="select-box__icon" src="/assets/img/arrow.svg" alt="Arrow Icon" aria-hidden="true"/>
        </div>
        <ul class="select-box__list">
            <li class="firstline">
                <label class="select-box__option" for="0" aria-hidden="aria-hidden">C 15:00 до 21:00</label>
            </li>
            <li class="firstline">
                <label class="select-box__option" for="1" aria-hidden="aria-hidden">C 16:00 до 22:00</label>
            </li>
            <li class="firstline">
                <label class="select-box__option" for="2" aria-hidden="aria-hidden">C 17:00 до 23:00</label>
            </li>
            <li>
                <label class="select-box__option" for="3" aria-hidden="aria-hidden">C 18:00 до 24:00</label>
            </li>
        </ul>

    </div>
</div>
<div class="form-el">
    <label>Способ обплаты</label>
    <div class="select-box">
        <div class="select-box__current" tabindex="1">
            <div class="select-box__value">
                <input class="select-box__input" type="radio" id="b0" value="" name="order_pay"  checked/>
                <p class="select-box__input-text">Не выбран</p>
            </div>
            <div class="select-box__value">
                <input class="select-box__input" type="radio" id="b1" value="Наличные" name="order_pay" />
                <p class="select-box__input-text">Наличные</p>
            </div>
            <div class="select-box__value">
                <input class="select-box__input" type="radio" id="b2" value="Перевод на карту" name="order_pay" />
                <p class="select-box__input-text">Перевод на карту</p>
            </div>
            <div class="select-box__value">
                <input class="select-box__input" type="radio" id="b3" value="Безналичный расчет" name="order_pay" />
                <p class="select-box__input-text">Безналичный расчет</p>
            </div>
            <img class="select-box__icon" src="/assets/img/arrow.svg" alt="Arrow Icon" aria-hidden="true"/>
        </div>
        <ul class="select-box__list">
            <li>
                <label class="select-box__option" for="b0" aria-hidden="aria-hidden">Не выбран</label>
            </li>
            <li>
                <label class="select-box__option" for="b1" aria-hidden="aria-hidden">Наличные</label>
            </li>
            <li>
                <label class="select-box__option" for="b2" aria-hidden="aria-hidden">Перевод на карту</label>
            </li>
            <li>
                <label class="select-box__option" for="b3" aria-hidden="aria-hidden">Безналичный расчет</label>
            </li>
        </ul>

    </div>
</div>
<div class="form-el">
    <label for="order-desc">Комментарий к заказу</label>
    <textarea id="order-desc" name="order_desc" rows="5"></textarea>
    <div id="errorMsg" class="text-error"></div>
</div>
<div class="form-el" style="display: flex">
    <input type="checkbox" id="order_call" name="order_call" value="nocall" checked><label for="order-call">Подтверждение по телефону не требуется - Заказ будет сразу передан в доставку</label></div>
<div class="form-el"> <div class="mt-2 p-1 bg-error" id="from-error" style="display: none"></div></div>
<button class="btn mt-3">Отправить заказ
</button>
