{% extends "base.twig" %}
{% set head_title = 'Ваш заказ' %}
{% if products is empty %}
    {% set head_title = 'Ваш заказ пуст' %}
{% endif %}
{% set menu_active = 'order' %}
{% set total = 0 %}

{% block body %}
    {% include 'navbar.twig' %}
    <main class="container pt-3 pb-2">
        <h1>{{head_title}}</h1>
        {% if products is defined and products is not empty %}
            <ul class="list-unstyled plist mb-2">
                {% for item in products %}
                    {% set total = total + item.total %}
                        <li>
                            <div class = "plist-item" >
                                <div class="plist-item-title" onclick="moveto('/catalog/{{ item.cat }}/{{ item.id }}')">
                                    {{ item.name }}
                                </div>
                                <div class="plist-item-price">

                                        {{ item.product_price }}
                                     x {{ item.count }}
                                </div>
                                <div class="plist-item-info">
                                    <div class="plist-item-desc">{{ item.path }} | {{ item.desc }}</div><div class="plist-item-total">{{ item.total }} Руб.</div>
                                </div>
                            </div>
                            <div class="plist-delete" onclick="removeFromCart({{ item.id }})"><img src="/assets/img/delete.svg" /></div>
                        </li>
                {% endfor %}
                <li>
                    <div class = "plist-item" >
                        <div class="plist-item-title">
                            ИТОГО:
                        </div>
                        <div class="plist-item-price">
                            {{ total }} Руб.
                        </div>
                    </div>
                </li>
            </ul>
            <div class="row justify-content-between order_buttons">
                <div class="col-sm col-lg-4 "><button class="btn" onclick="window.location.href = '/order/checkout'">Оформить заказ</button></div>
                <div class="col-sm col-lg-4 "><button class="btn btn-outline" onclick="window.location.href = '/order/clear'">Очистить корзину</button></div>
            </div>
            {% else %}
                <div class="mb-2">Вы ничего не выбрали :(</div>
            <button class="btn" onclick="window.location.href = '/'">Перейти в каталог</button>
        {% endif %}
    </main>
{% endblock %}
