{% extends "base.twig" %}

{% set head_title = 'Мои заказы' %}
{% set back_user = '/profile' %}

{% set menu_active = 'orders' %}

{% block body %}
    {% include 'navbar.twig' %}
    <main class="container pt-3">
        <h1>{{head_title}}</h1>
        {% if orders is defined and orders is not empty %}
            <ul class="list-unstyled plist">
                {% for item in orders %}
                        <li onclick="moveto('/orders/{{ item.id }}')">
                            <div class = "plist-item" >
                                <div class="plist-item-title">
                                     № {{ item.name }}
                                </div>
                                <div class="plist-item-price">
                                  {{ item.total }}
                                </div>
                                <div class="plist-item-info">
                                    <div class="plist-item-desc">от {{ item.date|date("d.m.Y") }} </div><div class="plist-item-count"></div>
                                </div>
                            </div>
                        </li>
                {% endfor %}
            </ul>
        {% endif %}
    </main>
    {% include 'footer.twig' %}
{% endblock %}
