{% extends "base.twig" %}
{% set head_title = 'Ваш заказ' %}
{% set menu_active = 'order' %}

{% block body %}
    {% include 'navbar.twig' %}
    <main class="container pt-3">
        <h1>Заказ № {{ name }}</h1>
        <div class="pb-1 text-sm">Дата заказа: {{ date|date("d.m.Y") }}. {{ description }}</div>
            <ul class="list-unstyled plist mb-2">
                {% for item in products %}
                    <li>
                        <div class = "plist-item" >
                            <div class="plist-item-title">
                                {{ item.name }}
                            </div>
                            <div class="plist-item-price">
                                {{ item.product_price }} x {{ item.count }}
                            </div>
                            <div class="plist-item-info">
                                <div class="plist-item-desc">{{ item.path }} | {{ item.desc }}</div><div class="plist-item-total">{{ item.total }} Руб.</div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                <li>
                    <div class = "plist-item" >
                        <div class="plist-item-title">
                            ИТОГО:
                        </div>
                        <div class="plist-item-price">
                            {{ total }} Руб.
                        </div>
                    </div>
                </li>
            </ul>
    </main>
    {% include 'footer.twig' %}
{% endblock %}
