{% extends "base.twig" %}
{% set head_title = 'Начните заказ' %}
{% set menu_active = 'catalog' %}

{% block body %}
    {% include 'navbar.twig' %}
    <div class="container-fluid">
        {% include 'Home/topbar.twig' %}
    </div>
    <main class="container pt-5">
        <div class="glide">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides actions">
                    {% for item in actions %}
                    <li class="glide__slide action">
                        <a class="action_item" href="{{ item.url }}"> {{item.text}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19 21L15.943 24L4 12L15.943 2.67251e-07L19 3L10 12L19 21Z" fill="black"/>
                    </svg></button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><svg xmlns="http://www.w3.org/2000/svg" fill="none" width="16" height="16" viewBox="0 0 24 24"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" fill="black"/></svg></button>
            </div>
        </div>
        <h1>{{head_title}}</h1>
        <ul class="list-unstyled catalog-list">
            {% for item in cat %}
                <li onclick="window.location = '/catalog/{{ item.id }}'">{{ item.name }}</li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}
