<form id="sign-in-form" action="#">
    <h5>Вход для партнеров</h5>
    <div class="form-el">
        <label for="phone-number">Номер телефона</label>
        <input id="phone-number" type="text" placeholder="+7 (900) 000-00-00" />
        <div id="errorMsg" class="text-error"></div>
    </div>
    <div>Для регистрации партнера <a href="#request" data-scroll>отправьте заявку</a></div>
</form>

<form id="code-form" action="#" style="display:none;">
    <h5>Введите пароль</h5>
    <div class="form-el">
        <label for="verification-code" id="code-text"></label>
        <input id="verification-code" type="password" />
        <div id="errorMsgCode" class="text-error"></div>
        <button class="btn" id="auth-button">Войти</button>
        <div class="pt-1">Забыли пароль? <a href="#" id="reset-button">Восстановить</a> </div>
    </div>
</form>

<form id="pass-form" action="#" style="display:none;">
    <h5>Задайте пароль</h5>
    <div class="form-el">
        <label for="pass-code">Придумайте пароль для входа</label>
        <input id="pass-code" type="password" />
        <div id="errorMsgPass" class="text-error"></div>
    </div>
    <div class="form-el">
        <label for="pass-email">E-mail для восстановления пароля</label>
        <input id="pass-email" type="text" />
        <div id="errorMsgMail" class="text-error"></div>
    </div>
    <button class="btn" id="setcode-button">Продолжить</button>
</form>
