{% extends "base.twig" %}
{% set head_title = currentCat.name %}
{% set menu_active = 'catalog' %}

{% block body %}
    {% include 'navbar.twig' %}
    <div class="container-fluid">
        {% include 'Catalog/topbar.twig' %}
    </div>
    <main class="container pt-5">
        <h1>{{head_title}}</h1>
        <ul class="list-unstyled catalog-list">
            {% for item in cat %}
                {% if (item.show != 1) %}
                    <li onclick="moveto('/catalog/{{ item.id }}')">{{ item.name }}</li>
                {% endif %}
            {% endfor %}
        </ul>
        {% if products is defined and products is not empty %}
        <ul class="list-unstyled plist">
            {% for item in products %}
                {% if (item.stock > 0 or item.id in order|keys) %}
                <li >
                    <div class = "plist-item {% if order[item.id] is defined %}active{% endif %}" >
                    {% if item.img is not empty %}
                        <div class="product-image plist-photo" data-src="{{ item.img }}"></div>
                    {% endif %}
                    <div class="plist-item-title" onclick="moveto('/catalog/{{ currentCat.id }}/{{ item.id }}')">
                        {{ item.name }}
                    </div>
                    <div class="plist-item-price" onclick="moveto('/catalog/{{ currentCat.id }}/{{ item.id }}')">
                        {{ item.product_price }}
                    </div>
                        <div class="plist-item-info">
                            <div class="plist-item-desc">{{ item.desc }} </div><div class="plist-item-count">x {{ order[item.id] }}</div>
                        </div>
                    </div>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    </main>
    {% include 'footer.twig' %}
{% endblock %}
