{% extends "base.twig" %}
{% set head_title = product.name %}
{% set menu_active = 'catalog' %}

{% block body %}
    {% include 'navbar.twig' %}
    <div class="container-fluid">
        {% include 'Catalog/topbar.twig' %}
    </div>
    <main class="container pt-5">
        <div id="order_status">
            Товар добавлен в корзину
        </div>
        <div id="{{ product.id }}" class="product">
            <div class="product-title">
                <h1>{{head_title}}</h1>
                {% if product.img is not empty %}
                    <div class="product-image" data-src="{{ product.img }}">
                        <button class="btn" id="product-photo">
                            <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.7403 3.18276C17.2595 2.70203 16.6795 2.46161 16 2.46161H13.8462L13.3559 1.15402C13.234 0.839968 13.0114 0.569094 12.6875 0.341429C12.3638 0.113866 12.0321 0 11.6923 0H6.76918C6.42944 0 6.09767 0.113866 5.77392 0.341429C5.45017 0.569094 5.22749 0.839968 5.10568 1.15402L4.61533 2.46161H2.4615C1.78191 2.46161 1.20191 2.70203 0.721084 3.18276C0.240361 3.66351 0 4.24359 0 4.92311V13.5384C0 14.218 0.240361 14.7981 0.721084 15.2787C1.20191 15.7596 1.78195 16 2.4615 16H15.9998C16.6793 16 17.2592 15.7596 17.7401 15.2787C18.2208 14.7981 18.4612 14.218 18.4612 13.5384V4.92311C18.4613 4.24359 18.2209 3.66351 17.7403 3.18276ZM12.2739 12.2741C11.4309 13.1171 10.4166 13.5387 9.23065 13.5387C8.04467 13.5387 7.03042 13.1171 6.18742 12.2741C5.34442 11.4313 4.92301 10.4167 4.92301 9.23102C4.92301 8.04494 5.34456 7.03072 6.18742 6.18773C7.03032 5.34473 8.04471 4.92331 9.23065 4.92331C10.4166 4.92331 11.4309 5.34483 12.2739 6.18773C13.1168 7.03062 13.5383 8.04494 13.5383 9.23102C13.5383 10.4167 13.1169 11.4312 12.2739 12.2741Z" fill="white"/>
                                <path d="M9.23059 6.46161C8.46775 6.46161 7.8155 6.73245 7.27382 7.2742C6.73214 7.81588 6.4613 8.46802 6.4613 9.23103C6.4613 9.99374 6.73214 10.646 7.27382 11.1877C7.8155 11.7292 8.46772 12.0001 9.23059 12.0001C9.99334 12.0001 10.6456 11.7292 11.1873 11.1877C11.729 10.646 11.9999 9.99378 11.9999 9.23103C11.9999 8.46805 11.729 7.81591 11.1873 7.2742C10.6457 6.73248 9.99334 6.46161 9.23059 6.46161Z" fill="white"/>
                            </svg>
                        </button>
                    </div>
                {% endif %}
            </div>
            <div class="product-desc">
                {% if product.desc is not empty %}
                    {{ product.desc  }} -
                {% endif %}
                {{ product.product_price }} Руб.
                <span class="mb-1 mt-2">Выберите количество:</span>
            </div>
            <div class="product-buttons">
                <div class="row">
                {% for i in 1..10 %}
                    <div class="col-btn">
                        <button class="btn btn-add {% if in_order == i %}btn-white{% endif %}" {% if product.stock < i %} disabled {% endif %} >{{ i }}</button>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </main>

    {% include 'footer.twig' %}
{% endblock %}
