{% extends "base.twig" %}
{% set head_title = 'Вход' %}

{% block body %}
<main class="container pt-5">
    <form id="login-code-form" action="#" >
    <h1>Проверочный код</h1>
    <div class="form-el">
        <input type="hidden" id="phone-code" value="+7{{ phone }}">
        <label for="login-code">Введите код</label>
        <input id="login-code" type="text" placeholder="000000" />
        <div id="errorMsg" class="text-error"></div>
    </div>
    <input type="button" id="login-code-button" class="btn" value="далее">
</form>
</main>
{% endblock %}
