{% extends "base.twig" %}
{% set head_title = 'Вход' %}

{% block body %}
    <div id="fullwidth-video">
        <div class="fullwidth-video-bg">
            <video playsinline="" muted="" onplaying="this.controls=false" autoplay loop>
                <source src="/assets/img/video.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                <!--<source src="/assets/videos/my-video.webm" type='video/webm; codecs="vp8, vorbis"'>
                <source src="/assets/videos/my-video.ogv" type='video/ogg; codecs="theora, vorbis"'>-->
            </video>
        </div>
    </div>
    <main style="position: relative; z-index: 2;">
        <div class="container lg-py-4">
            <img src="/assets/img/logo.svg" class="logo-img " />
            <div class="row pt-3 lg-pt-6">

                <div id="slogan" class="col-lg-7 py-3">

                    <h1 class="hero d-none d-lg-block">Best Tobacco Store</h1>
                    <h2 class="">Для эффективной работы Вашего кальянного бизнеса!</h2>
                </div>
                <div id="form" class="col-lg-5 py-3 lg-px-3 lg-py-3" style="background-color: rgba(0,0,0,0.4);">
        {% include 'Home/login.twig' %}
                </div>
            </div>
        </div>
        <div class="plus py-3 lg-py-4">
            <div class="container">
                <h2>Плюсы работы с BTS</h2>
                <div class="mb-2">
                    Мы ценим наших клиентов и делаем работу с нами удобной для каждого!
                </div>
                <div class="row">
                    <div class="benefit text-sm col-lg pb-2">
                        <img src="/assets/img/pic1.png" class="benefit-img b-1" />
                        <div class="benefit-text p-1">
                            <h5 class="text-primary">Доставка в день заказа</h5>
                            Работаем 24/7. Сделайте заказ до 14:00 и мы доставим в тот же день. Вы не в Москве? Доставка до траспортной компании бесплатно!
                        </div>
                    </div>

                    <div class="benefit text-sm col-lg pb-2">
                        <img src="/assets/img/pic3.png" class="benefit-img b-3" />
                        <div class="benefit-text p-1">
                            <h5 class="text-primary">Оплачивайте, как удобно</h5>
                            Выберите удобный способ оплаты заказа при оформлении. Наличные, карта, счет - нет проблем!
                        </div>
                    </div>
                    <div class="benefit text-sm col-lg pb-2">
                        <img src="/assets/img/pic2.png" class="benefit-img b-2" />
                        <div class="benefit-text p-1">
                            <h5 class="text-primary">Всегда в наличии</h5>
                            Мы поддерживаем широкий ассортимент товаров и их наличие на складе доступно реальном времени.
                        </div>
                    </div>
                </div>
                <div class="glide">
                    <div class="glide__track" data-glide-el="track">
                        <ul class="glide__slides">
                            <li class="glide__slide"><img src="/assets/img/logo1.png" /></li>
                            <li class="glide__slide"><img src="/assets/img/logo2.png" /></li>
                            <li class="glide__slide"><img src="/assets/img/logo3.png" /></li>
                            <li class="glide__slide"><img src="/assets/img/logo4.png" /></li>
                            <li class="glide__slide"><img src="/assets/img/logo5.png" /></li>
                            <li class="glide__slide"><img src="/assets/img/logo6.png" /></li>
                            <li class="glide__slide"><img src="/assets/img/logo7.png" /></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="app pt-3 lg-pt-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="lg-mt-6">Ничего лишнего!</h2>
                        <div class="mb-2">
                            Сделать заказ на нашем сайте - вопрос нескольких минут. Удобный каталог и оформление на любом устройстве.
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img src="/assets/img/phones.png" />
                    </div>
                </div>
            </div>
        </div>
        <div id="request" class="py-3 lg-py-4" style="background-color: rgba(0,0,0,0.4)">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2>Оставить заявку</h2>
                        <div class="mb-2">
                            Расскажите о своем заведении и оставьте контактные данные, наш сотрудник свяжется с вами, чтобы обсудить варианты сотрудничества.
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <form action="#" id="request-form">
                            <div class="form-el">
                                <label for="contact" >Контактное лицо<sup>*</sup></label>
                                <input id="contact" name="contact" type="text" required />
                                <div id="errorMsgCont" class="text-error"></div>
                            </div>
                            <div class="form-el">
                                <label for="phone-number-msg" >Номер телефона<sup>*</sup></label>
                                <input id="phone-number-msg"  name ="phone" type="text" placeholder="+7 (900) 000-00-00" required />
                                <div id="errorMsgReq" class="text-error"></div>
                            </div>
                            <div class="form-el">
                                <label for="company">Название заведения<sup>*</sup></label>
                                <input id="company"  name="company" type="text" required />
                                <div id="errorMsgComp" class="text-error"></div>
                            </div>
                            <div class="form-el">
                                <label for="company_desc">Описание</label>
                                <textarea id="company_desc" name ="company_desc" rows="5"></textarea>
                            </div>
                            <div id="message-text">
                                &nbsp;
                            </div>
                            <button type="button" id="message-button" class="btn mt-2" disabled>Отправить</button>
                        </form>
                        <div class="text-xs pt-2">
                            This site is protected by reCAPTCHA and the Google
                            <a href="https://policies.google.com/privacy">Privacy Policy</a> and
                            <a href="https://policies.google.com/terms">Terms of Service</a> apply.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
