{% extends "base.twig" %}

{% block body %}
    <main class="container">
        <h1>Регистрация</h1>
        {% if send == 'notyet' %}
        <form method="post" action="">
            <div class="form-el">
                <label for="contact" >Контактное лицо</label>
                <input id="contact" name="contact" type="text" required />
                <div id="errorMsg" class="text-error"></div>
            </div>
            <div class="form-el">
                <label for="phone-number" >Номер телефона</label>
                <input id="phone-number"  name ="phone" type="text" placeholder="+7 (900) 000-00-00" required />
                <div id="errorMsg" class="text-error"></div>
            </div>
            <div class="form-el">
                <label for="company">Название заведения</label>
                <input id="company"  name="company" type="text" />
                <div id="errorMsg" class="text-error"></div>
            </div>
            <div class="form-el">
                <label for="company_desc">Описание</label>
                <textarea id="company_desc" name ="company_desc" rows="5"></textarea>
            </div>
            <button type="submit" class="btn mt-3">Отправить
            </button>
        </form>
        {% endif %}
        {% if send == 'succes' %}
            Спасибо, ваша заявка принята, ожидайте звонка. <a href="/">На главную</a>
        {% endif %}
        {% if send == 'false' %}
            Что-то пошло не так, попробуйте <a href="/request">еще раз</a>
        {% endif %}

    </main>
{% endblock %}
