<div class="footer">
    {% if back_product is defined and  back_product is not empty %}
        <div id="back" onclick="window.location.href='{{ back_product }}';">
            <img src="/assets/img/back.svg" />
        </div>
    {% elseif back_user is defined and  back_user is not empty %}
        <div id="back" onclick="window.location.href='{{ back_user }}';">
            <img src="/assets/img/back.svg" />
        </div>
    {% else %}
        <div id="back" onclick="window.location.href='{% if back == 0 %}/{% else %}/catalog/{{ back }}{% endif %}';">
            <img src="/assets/img/back.svg" />
        </div>
    {% endif %}
</div>