<nav class="navbar navbar--fixed" data-js="navbar">
    <div class="container">
        <div class="navbar__wrapper">
            <button class="navbar__toggler" role="button" data-js="navbar-toggler">
                <span class="navbar__toggler-line"></span>
                <span class="navbar__toggler-line"></span>
                <span class="navbar__toggler-line"></span>
            </button>
            <a class="navbar__brand" href="/">
                <img src="/assets/img/logo.svg" />
            </a>
            <div class="navbar__collapse">
                <ul class="navbar__menu">
                    {% if (admin == 1) or (admin == 2)  %}
                    <li class="navbar__item{% if menu_active == 'admin' %} navbar__item--selected{% endif %}">
                        <a class="navbar__link" href="/dsb">Управление</a>
                    </li>
                    {% endif %}

                    <li class="navbar__item">
                        <a class="navbar__link" href="/catalog/1">Табак</a>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__link" href="/catalog/2">Уголь</a>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__link" href="/catalog/3">Аксессуары</a>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__link" href="/catalog/113">Кальяны</a>
                    </li>
                    <li class="navbar__item{% if menu_active == 'orders' %} navbar__item--selected{% endif %}">
                        <a class="navbar__link" href="/profile">Профиль</a>
                    </li>
                    <li class="d-block d-xl-none"><div class="text-xs text-center">телефон для связи</div>
                        <a href="tel:+7 995 903-60-30" >+7 995 903-60-30</a>
                    </li>
                </ul>
            </div>
            <div class="navbar__basket" onclick="window.location.href = '/order';">
                <div class="navbar__basket_counter is-hidden">
                    1000000
                </div>
                <img src="/assets/img/bag.svg" />
            </div>
        </div>
    </div>
</nav>
