{% extends "base.twig" %}

{% set head_title = 'Email подтвержден' %}

{% set menu_active = 'profile' %}

{% block body %}
    <main class="container pt-3">
        <h1>{{head_title}}</h1>
        <a class="btn btn-block" href="/">Перейти на сайт</a>
    </main>
{% endblock %}
