{% extends "base.twig" %}

{% set head_title = 'Профиль' %}

{% set menu_active = 'profile' %}

{% block body %}
    {% include 'navbar.twig' %}
<main class="container pt-3">
    <h1>{{head_title}}</h1>
    {% if message is not empty %}
        <div class="bg-error p-050 pl-1" style="margin-left: -1rem; margin-right: -1rem;">{{ message|raw }}</div>
    {% endif %}
    <ul class="list-unstyled catalog-list">
        <li onclick="window.location = '/orders'">Мои заказы</li>
        <li onclick="window.location = '/login/exit'">Выход</li>
    </ul>
    <h2>Изменить профиль</h2>
<form action="" method="post" class="mb-2">
        <div class="form-el">
            <label for="profile-pass">Новый пароль</label>
            <input id="profile-pass" name="code" type="text" value="">
            <div id="errorMsg" class="text-error"></div>
        </div>
        <div class="form-el">
            <label for="profile-mail">Email</label>
            <input id="profile-mail" name="mail" type="email" value="{{ mail }}">
            <div id="errorMsg" class="text-error"></div>
        </div>
    <button class="btn" type="submit">Сохранить</button>
    </form>
</main>
{% endblock %}
