{% extends "base.twig" %}

{% set head_title = 'Сброс пароля' %}

{% set menu_active = 'profile' %}

{% block body %}
    {% if (status == 'active') %}
        <main class="container pt-3">
            <h1>{{head_title}}</h1>
            <p>Временный пароль отправлен вам на почтовый адрес указанный в профиле</p>
            <a class="btn btn-block" href="/">Вернуться на сайт</a>
        </main>
    {% else %}
        <main class="container pt-3">
            <h1>Ошибка</h1>
            <p>Ваш почтовый адрес не подтвержден, для восстановления пароля обратитесь по телефону +7 995 903 60 30</p>
            <a class="btn btn-block" href="/">Вернуться на сайт</a>
        </main>
    {% endif %}

{% endblock %}
